	<title>{fun webConf('web_name')}</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="author" content="Lyove"> 
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{__Tpl_style__}/assets/fonts/iconfont.css">
	<link rel="stylesheet" type="text/css" href="{__Tpl_style__}/assets/css/xadmin.css">
	<link rel="stylesheet" type="text/css" href="{__Tpl_style__}/assets/css/style.css">
	<script type="text/javascript" src="{__Tpl_style__}/assets/js/jquery.min.js"></script>
	<script src="/static/common/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="{__Tpl_style__}/assets/js/xadmin.js"></script>
	<script type="text/javascript" src="/static/common/clipboard.js"></script>
	<script type="text/javascript" charset="utf-8" src="{__Tpl_style__}/assets/js/xm-select.js"></script>
	<link rel="stylesheet" type="text/css" href="{__Tpl_style__}/assets/tags/jquery.tagsinput.css" />
	<script type="text/javascript" charset="utf-8" src="{__Tpl_style__}/assets/tags/jquery.tagsinput.js"></script>
	{php
	
	switch($webconf['admintpl']){
		case 'tpl':
		echo '<script type="text/javascript" src="'.Tpl_style.'/assets/js/target_page.js"></script>';
		break;
		case 'default':
		echo '<script type="text/javascript" src="'.Tpl_style.'/assets/js/target_window.js"></script>';
		break;
	}
	
	/}
	<style>
	.layui-form-item .layui-input-inline {
		float: left;
		width: 250px;
		margin-right: 10px;
	}
	</style>
